{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div style="margin: 20px">
<h2 style="color:rgb(156, 161, 22)">{{ beerdata[0][0] }} &nbsp; &nbsp; Arvosana: &nbsp; {{ avgscore[0] }}</h2>
<table border="3" cellspacing="5" style="color:rgb(112, 230, 226)">
  <tr>
    <th>Olut</th><th>Alk. %</th><th>tyyppi</th><th>valmistaja</th><th>valmistusmaa</th><th>kuvaus:</th>
  </tr>
  {% for row in beerdata %}
    <tr>
      {% for item in row %}
        <td>{{ item }}</td>
      {% endfor %}
        {% if session.username %}
          {%if not rated %}
            <td style = "btn"> 
              <a href="/review/{{beerdata[0][0]}}" class="button">arvostele</a>
            </td>
          {% endif %}
        {% endif %}
    </tr>
  {% endfor %}
</table> 
</div>

<p>
  <br>
</p>

<div style="margin: 20px">
<table border="1" cellpadding="5" cellspacing="5" style="color:rgb(112, 230, 226)">
  <tr>
    <th>Arvostelija:</th><th>Pisteet:</th><th>Kommentti</th><th>Päiväys:</th>
  </tr>
    {% for row in ratings %}
      <tr>
        <td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td><td>{{ row[4] }}</td>
        {% if session.username == row[1] %}
          <td style = "btn"> 
            <form action="/edit_review" method="POST" style="color:rgb(112, 230, 226)">
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              <input type="hidden" name="comment_id" value="{{ row[0] }}">
              <input type="hidden" name="beerdata" value="{{ beerdata[0][0] }}">
              <input type="submit" value="Muokkaa">
            </form>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
</table>
</div>

<input style="margin-top: 15px" type="button" name="Takaisin" value="Takaisin" onClick="window.location.href='/main';" />
<hr>
{% if session.username == 'Admin' %}
  <br>
    <form action="/admins" method="POST" style="color:rgb(112, 230, 226)">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Hallinta">
    </form>
{% endif %}
{% endblock %}
