<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Olut arvosteluja: Maista ja kerro mielipiteesi</title>
  </head>
  
  <body style="background-color:rgb(25, 25, 112);">
    <br>
    <h1 style="color:rgb(156, 161, 22);text-align:center;">Olut! Maista ja kerro mielipiteesi!</h1>
  </body>
  <hr>
  <!---
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <f style="color:red">
            <li>{{ message }}</li>
          </f>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
--->
  {% block content %}
  {% endblock %}
</html>
