{% extends "layout.html" %}
{% block title %}New user{% endblock %}
{% block content %}

<p style="color:rgb(112, 230, 226);text-align:center;">
  Rekisteröityminen.
</p>
<hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
        <div style="color:red;text-align:center;">{{ message }}</div>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<hr>
  <div style="text-align:center;color:yellow;">Anna käyttäjänimesi ja salasana. Salasanan on oltava vähintään 6 merkkiä.</div>
  <form action="/create_user" method="POST" style="color:rgb(112, 230, 226); text-align:center;">
    <br>
    Käyttäjänimi:
    <input type="text" name="username" size="20"> 
    Salasana:
    <input type="password" name="password" size="20">
    <br>
    <input type="submit" value="Rekisteröi" style="height:55px;width:200px">
  </form>
  <br>
  <form action="/" style="color:rgb(112, 230, 226); text-align:center;">
    <input type="submit" value="Takaisin" style="width:120px">
  </form>
<p style="align:bottom">
  <br>
</p>
{% endblock %}
